<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
      <h2 class="mb-10 text-3xl font-bold m-2">Create User</h2>
      <form action="/create" method="post">
        <input
          class="bg-transparent outline-none border-1 p-2 m-2 rounded-lg"
          type="text"
          placeholder="username"
          name="username"
        />
        <input
          class="bg-transparent outline-none border-1 p-2 m-2 rounded-lg"
          type="email"
          placeholder="email"
          name="email"
        />
        <input
          class="bg-transparent outline-none border-1 p-2 m-2 rounded-lg"
          type="password"
          placeholder="password"
          name="password"
        />
        <input
          class="bg-transparent outline-none border-1 p-2 m-2 rounded-lg"
          type="number"
          placeholder="age"
          name="age"
        />
        <input
          class="bg-blue-500 p-2 rounded-lg font-bold"
          type="submit"
          value="Create User"
        />
      </form>
    </div>
  </body>
</html>
